/* Contenedor */
.Gif
{

    position: relative;

    width: 200px;
    height: 200px;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;

    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);

    text-decoration: none;

    overflow: hidden;

    transition: .5s ease;
    opacity: 1;
    cursor: pointer;
}
/* Imagen */
img{
    width: 100%;
    height: 100%;
}   


/* Titulo */
.Gif .Titulo{

    padding: 0px;
    margin: 0px;
    position: absolute;
    padding: 5px 10px;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
    background: rgba(41, 40, 40, 0.5);
    text-align: left;
    top:initial;
}

.Titulo p{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/* Detalle */
.detalle{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 1px red;
    color: black;
}

.Gif:hover
{
    opacity: 0.2;
}

.detalle:hover
{
    opacity: 1;
}
