.titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background: rgb(24, 24, 26);
    width: 100%;
    gap: 5%;
}

.titulo img{
    width: 20%;
}

.titulo h1{

    text-align: center;
    background: transparent;
}

#card {
    position: relative;
    margin: 10px 0px;
    background-color: rgb(24, 24, 26);
    transition: box-shadow .25s;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
#card h3{
    font-size: 1fr;
}

#col{
    margin-top: 10px;
    padding-right: 0px;
}
.busqueda{
    height: auto;
    width: 270px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
}
.Formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Formulario input{
    height: 30px;
    width: 200px;
}

.UltimaBusqueda{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));/*No Funciona en otro navegador Auto-fit*/
    font-size: calc(10px + 2vmin);
    grid-template-rows: masonry;/*fire Fox*/
    margin-bottom: 20px;
    min-height: 100vh;
}

#Link{
    color: rgb(35, 116, 182);
    font-size: 20px;
}

#siguiente{

    margin: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
@media (width <= 500px){

}

.btn{
    margin: 0px 10px
}
.autocomplete{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#autocomplete-input{
    font-size: 20px;
    padding: 0px;
}